#footerMainDiv {
    position: fixed;
    height: 5vh;
    width: 100vw;
    bottom: 0;
    background: linear-gradient(357deg, rgba(133,29,65,1) 0%, rgba(219,81,81,1) 55%, rgba(226,101,82,1) 100%);
}

#footerMainDiv #footer {
    color: white;
}

#footerMainDiv #footer #flex_row_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    box-sizing: border-box;
}