/* HEADER BAR FOR BIG SCREEN */

#header-large {
	position: fixed;
	top: 0;
	height: 6vh;
	width: 100vw;
	background: linear-gradient(357deg, #ff3860 0%, rgba(219,81,81,1) 55%,rgba(133,29,65,1) 100%);
}

#header-large #toolbar {
	height: 6vh;
}

#header-large-left {
	margin-left: 0vw;
}

#header-large-right {
	right: 0;
	position: fixed;
	margin-right: vw;
}

#header-large-right .notif {
	margin-right: 0.4vw;
}

#header-large-right .mail {
	margin-right: 0.4vw;
}

/* HEADER BAR FOR MEDIUM SCREEN */

#header-medium {
	position: fixed;
	top: 0;
	height: 10vh;
	width: 100vw;
	background: linear-gradient(357deg, #ff3860 0%, rgba(219,81,81,1) 55%,rgba(133,29,65,1) 100%);
}

#header-medium #toolbar {
	height: 10vh;
}

#header-medium-left {
	margin-left: 0vw;
}

#header-medium-right {
	right: 0;
	position: fixed;
	margin-right: 1vw;
}

#header-medium-right .notif {
	margin-right: 0.4vw;
}

#header-medium-right .mail {
	margin-right: 0.4vw;
}


/* HEADER BAR FOR SMALL SCREEN */

#header-small {
	position: fixed;
	top: 0;
	height: 6vh;
	width: 100vw;
	background: linear-gradient(357deg, #ff3860 0%, rgba(219,81,81,1) 55%,rgba(133,29,65,1) 100%);
}

#header-small #toolbar {
	height: 5vh;
}

#header-small-left {
	margin-left: 0vw;
}

#header-small-right {
	right: 0;
	position: fixed;
	margin-right: 1vw;
}

#header-small-right .notif {
	margin-right: 0.4vw;
}

#header-small-right .mail {
	margin-right: 0.4vw;
}