#EmojiButton {
	margin-top: 5em;
	border: solid;
	border-radius: 2em;
	background-color: #61dafb;
	width: 7em;
	height: 3em;
}

#EmojiButton:hover {
	margin-top: 5em;
	border: solid;
	border-radius: 2em;
	color: white;
	background-color: #61dafb;
	width: 7em;
	height: 3em;
}
