#main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#main-container #yes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

#main-container #no {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}