#login-component {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
}

#login-component #login-container {
	display: flex;
	flex-direction: row;
	height: 50vh;
	width: 50vw;
	background-image: linear-gradient(315deg, #acacac 0%, #fbfbfb 74%);
}

#login-component #login-container #login-left {
	height: inherit;
	width: 20vw;
	/* width: calc(inherit / 2); */
}

#login-component #login-container #login-left img {
	height: inherit;
	width: 20vw;
}

#login-component #login-container #login-right {
	display: flex;
	flex-direction: column;
	height: inherit;
	width: 30vw;
	background: linear-gradient(-45deg, hsl(196, 40%, 91%),hsl(196, 21%, 97%));
	background: hsl(194, 64%, 63%);
	background: hsl(14, 15%, 83%);
}

#login-component #login-container #login-right #login-right-top {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20vh;
	width: inherit;
}

#login-component #login-container #login-right #login-right-bottom #credentials-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#login-component #login-container #login-right #login-right-bottom #redirect-login {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 5vh;
}