#App {
	text-align: center;
}

#App #App-logo {
	height: 40vmin;
	pointer-events: none;
}

#App #EmojiButton {

}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 2s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

/* twitter dark blue #15202B */
/* twitter light blue #1DA1FE */
/* gitlab dark orange #b33c36 */
/* gitlab light dark orange #e24329 */
/* gitlab dark light orange #fc6d26 */
/* gitlab light orange #fca326 */



