#actions-main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#actions-main-container #set-as-profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
