/* ACCOUNT LARGE */

#account-large {
	display: flex;
	justify-content: center;
	align-items: center;
	width: auto;
	height: 89vh;
	margin-top: 6vh;
	margin-bottom: 6vh;
	background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
}

/* ACCOUNT MEDIUM */

#account-medium {
	display: flex;
	justify-content: center;
	align-items: center;
	width: auto;
	height: 85vh;
	margin-top: 6vh;
	margin-bottom: 6vh;
	background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
}

/* ACCOUNT SMALL */

#account-small {
	display: flex;
	justify-content: center;
	align-items: center;
	width: auto;
	height: 220vh;
	margin-top: 6vh;
	margin-bottom: 6vh;
	background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
}

#account-small #main-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: scroll;
}
#account-small #main-container #profile-picture {
	width: 12em;
	height: 12em;
}

#account-small #main-container #profile-picture:hover {
	opacity: 0.8;
}

#account-small #main-container #edit-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 2em;
}