#main-container {
    
}

#main-container #user-images-display-small {
    display: flex;
    flex-direction: column;
}

#main-container #user-images-upload-small {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}
