#container-user-image-small {
    
}

#container-user-image-small #user-images-display-small {
    display: flex;
    flex-direction: column;
}

#container-user-image-small #user-images-upload-small {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}
